.checkoutProduct {
  padding: 0.3rem 0;
  margin: 0.5rem 0;
  display: flex;
  background-color: white;
  height: max-content;
}

.checkoutProduct__img {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__info {
  padding-left: 0.2rem;
}

.checkoutProduct__info > button {
  color: var(--logo-white);
  background-color: var(--logo-dark-red);
  border-radius: 5px;
  border: 1px solid;
  border-color: var(--logo-light-red) var(--logo-dark-red);
  padding: 0.2rem 0.4rem;
}

.checkoutProduct__title {
  font-size: 1rem;
  font-weight: 800;
  max-width: 600px;
  padding: 0.2rem;
  margin-right: 0.1rem;
  /* border-bottom: 1px solid lightgray; */
}

.checkoutProduct__rating {
  display: flex;
  margin-bottom: 0.2rem;
}
